<tr>
    <td><img src="{{flaglink}}" class="flag" alt="{{release.country}} Flag"> {{release.country}}</td>
    <td>{{release.date}}</td>
    <td>{{release.type}}</td>
    <td>{{release.rating}}</td>
</tr>