<tr>
    <td><img src="{{flagLink}}" class="flag" alt="{{release.country}} Flag"> {{release.country}}</td>
    <td>{{release.date}}</td>
    <td>{{release.distribution_format}}</td>
    <td>{{release.rating}}</td>
</tr>