<div class="movie-item">
    <div class="movie-image">
        <img src="{{movie.posterLink}}" alt="movie poster for {{movie.title}}" />
        <div class="rating">{{movie.rating}}</div>
    </div>
    <div class="movie-details">
        <h3>{{movie.title}}</h3>
        <div class="release-date">{{movie.releaseYear}}</div>
    </div>
</div>