<div class="filter-container">
    <div class="filter-chip">{{name}}
        <span id="{{id}}-count" class="count" {{^if (or range-start range-end)}}style="display: none;"{{/if}}>
            {{range-start}} - {{range-end}}
        </span>
        <span class="arrow">▼</span>
    </div>
    <div class="filter-dropdown">
        <div class="range-inputs">
            <input class="range-start" type="number" id="start-{{id}}" name="{{id}}GT" value="{{range-start}}" placeholder="Start"
                   step="{{step}}" min="{{min}} max="{{max}}">
            <input class="range-end" type="number" id="end-{{id}}" name="{{id}}LT" value="{{range-end}}" placeholder="End"
                   step="{{step}}" min="{{min}} max="{{max}}">
        </div>
        <button id="apply-button">Apply</button>
        <button class="clear-all" id="clear-all">Clear All</button>
    </div>
</div>
