<div class="movie-item">
    <a href="/movie/{{movie.id}}">
    <div class="movie-image">
        <img src="{{movie.posterLink}}" alt="{{movie.title}} Poster" />
        <div class="rating">{{movie.rating}}</div>
    </div>
    <div class="movie-details">
        <h3>{{movie.title}}</h3>
        <div class="release-date">{{movie.releaseYear}}</div>
    </div>
    </a>
</div>