<div class="movie-item">
    <a href="/movie/{{movie.id}}">
    <div class="movie-image">
        <img src="{{#if movie.posterLink}}{{movie.posterLink}}{{else}}/images/default-poster.jpg{{/if}}" alt="{{movie.title}} Poster" />
        <div class="rating">{{#if movie.rating}}{{movie.rating}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="movie-details">
        <h3>{{movie.title}}</h3>
        <div class="release-date">{{movie.releaseYear}}</div>
    </div>
    </a>
</div>