<!DOCTYPE html>
<html lang="en-Us">
<head>
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />

    {{#if (eq currentPath '/movies')}}
        <link rel='stylesheet' href='/stylesheets/movies.css' />
        <link rel='stylesheet' href='/stylesheets/movie-filter.css' />
    {{else if (startsWith currentPath '/movie')}}
        <link rel='stylesheet' href='/stylesheets/movie-detail.css' />
    {{else if (startsWith currentPath '/oscars')}}
        <link rel='stylesheet' href='/stylesheets/oscars.css' />
    {{else if (eq currentPath '/')}}
        <link rel='stylesheet' href='/stylesheets/homepage.css' />
    {{/if}}

</head>
<body class="min-vh-100">
    {{> navbar}}
    {{{body}}}
    {{> chat }}

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="scripts/chat.js"></script>

    {{#if (startsWith currentPath '/oscars')}}
        <script src="s/cripts/fetchCeremony.js"></script>
    {{else if (eq currentPath '/')}}
        <script src='/scripts/homepage.js' ></script>
    {{/if}}
</body>
</html>
