<!DOCTYPE html>
<html lang="en-Us">
<head>
    <title>{{title}}</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if (eq currentPath '/movies')}}
        <link rel='stylesheet' href='/stylesheets/movies.css' />
        <link rel='stylesheet' href='/stylesheets/movie-filter.css' />
    {{else if (startsWith currentPath '/movie')}}
        <link rel='stylesheet' href='/stylesheets/movie-detail.css' />
    {{else if (startsWith currentPath '/oscars')}}
        <link rel='stylesheet' href='/stylesheets/oscars.css' />
        <script src="scripts/fetchCeremony.js"></script>
    {{/if}}

</head>
<body>
    {{> navbar}}
    {{{body}}}
    {{{footer}}}
</body>
</html>
