{{#each oscars.categories}}
    <div class="floating-container">
        <div class="category-title">{{@key}}</div>
        <div class="winner-section">
        {{#each this.winners}}
            <div class="winner">
                {{this.nomineeName}} <br> <span style="font-weight: 500;">{{this.nomineeMovie}}</span>
            </div>
        {{/each}}
        </div>

        <div class="nominees">
        {{#each this.nominees}}
            <div class="nominee">{{this.nomineeName}} <br> <span>{{this.nomineeMovie}}</span></div>
        {{/each}}
        </div>
    </div>
{{/each}}